@import url('https://fonts.googleapis.com/css?family=Eagle+Lake|Shojumaru');

/********** Background and wrapper **********/

* {
  box-sizing: border-box;
}

html {
  font: 17px/1.5 'Trebuchet MS', Helvetica, sans-serif;
}

body {
  background: url(../images/page-bg.jpg) left top/cover;
  margin: 0;
}

#wrapper {
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  margin: 0 auto 2rem;
  max-width: 1200px;
  min-width: 320px;
  padding: 2rem;
  position: relative;
  width: 80%;
}

/********** Main navigation **********/

#skip-link {
  background-color: #000;
  border: #fff double 6px;
  color: #fff;
  padding: 0.5rem;
  position: absolute;
  text-decoration: none;
  top: -9999px;
}

#skip-link:focus {
  left: 1rem;
  top: 1rem;
}

nav {
  background-color: #333;
  border-radius: 0 10px 10px 0;
  box-shadow: 3px 0 5px #000;
  margin-left: -2rem;
  padding: 0.25rem;
}

#nav-box {
  display: none;
}

nav li {
  display: inline;
}

nav a {
  border-right: #ddd solid 2px;
  color: #ddd;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 1rem;
  text-decoration: none;
}

nav li:last-child a {
  border-right: none;
}

nav a:hover {
  text-decoration: overline;
}

#current-page {
  text-decoration: underline wavy;
}

/********** Page content **********/

#branding-wrapper {
  display: flex;
}

h1 {
  font: 72px 'Shojumaru', cursive;
  margin: 0 0 0 0.5rem;
  order: 1;
  text-shadow: -2px -2px 3px #d3d3d3, -3px -3px 0 #a9a9a9;
}

h2 {
  background: url(../images/crane-icon.png) no-repeat;
  font-family: 'Eagle Lake', cursive;
  margin-bottom: 0;
  padding-left: 40px;
}

h2 + p {
  margin-top: 0;
}

#home-photos {
  display: flex;
}

main img {
  background-color: #ddd;
  border: 3px solid #000;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: auto;
  max-width: 100%;
  padding: 10px;
}

figure {
  display: inline-block;
  position: relative;
}

figcaption {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 20px;
  margin: 0;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

figcaption cite {
  font-style: normal;
}

section {
  overflow: hidden;
}

section p:first-of-type {
  margin-top: 0;
}

small {
  font-style: italic;
}

main li {
  margin-top: 0.5rem;
}

main ul ul li:last-child {
  margin-bottom: 1.5rem;
}

video {
  height: auto;
  max-width: 100%;
}

#iframe-wrapper {
  padding-bottom: 56.25%;
  position: relative;
}

#iframe-wrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/********** Thumbnails **********/

#howto .thumbs {
  display: flex;
}

.thumbs li {
  display: inline;
  margin-right: 10px;
}

/********** Contact page **********/

address {
  font-style: normal;
}

.item-phone {
  list-style-image: url(../images/phone-icon.png);
}

.item-email {
  list-style-image: url(../images/email-icon.png);
}

form > fieldset {
  border: #333 solid 2px;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
}

fieldset fieldset {
  border: none;
  padding-left: 0;
}

form > fieldset > legend {
  font-variant: small-caps;
  font-weight: bold;
}

form > fieldset:first-of-type label {
  display: block;
}

input:not([type='radio']) {
  margin-bottom: 1rem;
}

input[type='radio']:nth-of-type(even) {
  margin-bottom: 1rem;
}

input:focus,
textarea:focus {
  background-color: #ffffb0;
}

input[type='text']:valid,
input[type='email']:valid,
input[type='tel']:valid {
  background: url(../images/check-icon.png) no-repeat right/contain;
}

/********** How To page **********/

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 50%;
}

caption {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  padding-bottom: 0.5rem;
}

tr:first-of-type td:first-child {
  border: none;
}

th,
td {
  border: #333 solid 1px;
  padding: 0.5rem;
}

/********** Utility classes **********/

.visuallyhidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.float-left {
  float: left;
  margin: 0 1rem 0.5rem 0;
}

.make-columns {
  display: flex;
}

.make-columns > li {
  font-weight: bold;
  list-style: none;
  margin-right: 2rem;
}

.make-columns > li li {
  font-weight: normal;
}

/*********** Fluid text ***********/

@media screen and (max-width: 1200px) {
  h1 {
    font-size: calc(26px + (72 - 26) * (100vw - 320px) / (1200 - 320));
  }
}

/******** 1175 *********/

@media screen and (max-width: 1175px) {
  #wrapper {
    width: 90%;
  }

  figcaption {
    position: static;
  }
}

/********* 935 **********/
@media screen and (max-width: 935px) {
  #wrapper,
  table {
    width: 100%;
  }
}

/********* 750 ***********/

@media screen and (max-width: 750px) {
  #home-photos {
    display: block;
  }
}

/********* 665 **********/
@media screen and (max-width: 665px) {
  .float-left + p {
    clear: left;
  }

  .make-columns {
    display: block;
  }

  textarea {
    width: 90%;
  }

  nav {
    border-radius: 0;
    box-shadow: none;
    left: 0;
    margin-left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  nav ul {
    display: none;
    padding: 0;
  }

  nav li {
    display: block;
  }

  nav a {
    border-radius: none;
    border-bottom: 1px solid #fff;
    color: #ddd;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  nav a:hover {
    text-decoration: none;
  }

  #current-page {
    background-color: #444;
    color: #fff;
    text-shadow: none;
  }

  #nav-trigger {
    border-bottom: #000 solid 2px;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 1rem;
    text-align: center;
  }

  #nav-box:checked + ul {
    display: block;
  }

  .visuallyhidden {
    clip: unset;
    clip-path: unset;
    height: 100%;
    position: static;
    width: 100%;
  }

  h1 {
    margin: 2rem auto 0;
  }

  #branding-wrapper img {
    display: none;
  }
}

/*********** Minimum font size **********/
@media screen and (max-width: 320px) {
  h1 {
    font-size: 26px;
  }
}
